/*  
#280905 Oscuro
#740A03 Bordo
#C3110C Rojo
#E6501B Naranja
#0C2C55 Azul
*/
.titulo-grid, .sub-titulo-grid-uno, .sub-titulo-grid-dos, .sub-titulo-grid-tres, .sub-titulo-grid-cuatro, .sub-titulo-grid-cinco, .sub-titulo-grid-seis {
  color: #740A03;
  font-family: "IBM Plex Sans", sans-serif;
}

.sub-titulo-grid-uno, .sub-titulo-grid-dos, .sub-titulo-grid-tres, .sub-titulo-grid-cuatro, .sub-titulo-grid-cinco, .sub-titulo-grid-seis {
  color: #3c3c3c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: white;
}
body h2 {
  color: #740A03;
  text-align: center;
}

.logo-redes {
  width: 65px;
  height: 65px;
}

.imgtour {
  width: 100%;
}

.imgdiscos {
  width: 150px;
}

.h1-conciertos {
  text-align: center;
}

.img-presentacion {
  width: 45%;
  margin: auto;
}

.contenedor {
  width: 100%;
  height: 100%;
}

.img-formula-1:hover, .img-formula-2:hover, .img-golden:hover,
.img-utopia:hover, .img-formula-3:hover, .img-better:hover {
  transform: scale(1.5);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #000000;
  z-index: 1000;
}
@media (max-width: 480px) {
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
  }
}
header .logo {
  width: 90%;
  margin: 10px;
}
header nav {
  width: 45%;
}
@media (max-width: 480px) {
  header nav {
    width: 100%;
  }
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin-right: 5px;
}
header nav ul li a {
  color: white;
  text-decoration: none;
}

/*Footer*/
footer {
  display: flex;
  padding: 10px 0;
  background-color: #000000;
  color: white;
  justify-content: center;
  align-items: center;
}

.presentacion {
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.presentacion div {
  width: 50%;
  text-align: center;
}
.presentacion div h1 {
  text-align: center;
  color: #0C2C55;
}

.contenedor-grid-tour {
  gap: 20px;
  grid-template-areas: "card text-center mb-3";
  grid-template-columns: 30% 30% 30%;
  justify-content: center;
  justify-items: center;
  margin-top: 50px;
}
.contenedor-grid-tour .btn-primary {
  background-color: #E6501B;
  color: white;
}

.contenedor-grid {
  display: grid;
  grid-template-areas: "titulo titulo titulo" "sub1 sub2 sub3" "imgformula1 imgformula2 imggolden" "ul1 ul2 ul3" "sub4 sub5 sub6" "imgutopia imgformula3 imgbetter" "ul4 ul5 ul6";
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 100px auto auto auto auto auto auto;
  justify-content: center;
  justify-items: center;
  gap: 10px;
}

.titulo-grid {
  grid-area: titulo;
  color: #740A03;
  font-family: "IBM Plex Sans", sans-serif;
}

.sub-titulo-grid-uno {
  grid-area: sub1;
}

.sub-titulo-grid-dos {
  grid-area: sub2;
}

.sub-titulo-grid-tres {
  grid-area: sub3;
}

.sub-titulo-grid-cuatro {
  grid-area: sub4;
}

.sub-titulo-grid-cinco {
  grid-area: sub5;
}

.sub-titulo-grid-seis {
  grid-area: sub6;
}

.img-formula-1 {
  width: 200px;
  grid-area: imgformula1;
}

.img-formula-2 {
  width: 200px;
  grid-area: imgformula2;
}

.img-golden {
  width: 200px;
  grid-area: imggolden;
}

.img-utopia {
  width: 200px;
  grid-area: imgutopia;
}

.img-formula-3 {
  width: 200px;
  grid-area: imgformula3;
}

.img-better {
  width: 200px;
  grid-area: imgbetter;
}

.ol-grid-1 {
  grid-area: ul1;
}

.ol-grid-2 {
  grid-area: ul2;
}

.ol-grid-3 {
  grid-area: ul3;
}

.ol-grid-4 {
  grid-area: ul4;
}

.ol-grid-5 {
  grid-area: ul5;
}

.ol-grid-6 {
  grid-area: ul6;
}

@media (max-width: 480px) {
  header ul {
    margin-right: 0;
  }
  .contenedor-grid {
    padding: 0 10px;
    grid-template-areas: "titulo titulo" "sub1 sub2" "imgformula1 imgformula2" "ul1 ul2" "sub3 sub4" "imggolden imgutopia" "ul3 ul4" "sub5 sub6" "imgformula3 imgbetter" "ul5 ul6";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
  }
  footer {
    display: flex;
    padding: 10px 0;
    background-color: #3c3c3c;
    color: white;
    justify-content: center;
    align-items: center;
  }
}

/*# sourceMappingURL=estilos.css.map */
