@use "./variables" as*;

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: $oscuro;
    z-index: 1000;

    @media (max-width:480px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 10px 0;

    }

    @media (min-width: 481px) and (max-width: 768px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 10px 0;

    }
    .logo {
        width: 90%;
        margin: 10px;
    }

    nav {
        width: 45%;

        @media(max-width:480px) {
            width: 100%;
        }

        @media(min-width: 481px) and (max-width: 768px){
            width: 100%;

        } 
        
        ul {
            list-style: none;
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 100%;
            margin-right: 5px;

            li {
                a {
                    color: $blanco;
                    text-decoration: none;
                }
            }
        }
    }

}

/*Footer*/

footer {
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    padding: 20px 50px;            
    background-color: $oscuro;         
    color: $blanco;
    .parrafo-footer {
        font-size: 0.7rem;          
        margin: 0;                
        opacity: 0.8;     
    }
    .footer-redes {
        display: flex;
        align-items: center;
        gap: 20px;            
        p {
            margin: 0;
            font-size: 0.9rem;
        }
        .iconos {
            display: flex;
            gap: 10px;          
            
            .logo-redes {
                width: 45px;        
                height: auto;
            }
        }
    }
}
