@use "./variables" as*;

@media (max-width:480px) {
   
    header ul {
        margin-right: 0;


    }

    .contenedor-grid {
        padding: 0 10px;
        grid-template-areas:
            "titulo titulo"
            "sub1 sub2"
            "imgformula1 imgformula2"
            "ul1 ul2"
            "sub3 sub4"
            "imggolden imgutopia"
            "ul3 ul4"
            "sub5 sub6"
            "imgformula3 imgbetter"
            "ul5 ul6";

        grid-template-columns: 50% 50%;
        grid-template-rows: auto;

    }

    footer {
        display: flex;
        padding: 10px 0;
        background-color: $oscuro ;
        color: $blanco;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        text-align: center;


    }


}
@media (min-width: 481px) and (max-width: 768px){
    header ul {
        margin-right: 0;
    }

    .contenedor-grid {
        padding: 0 10px;
        grid-template-areas:
            "titulo titulo"
            "sub1 sub2"
            "imgformula1 imgformula2"
            "ul1 ul2"
            "sub3 sub4"
            "imggolden imgutopia"
            "ul3 ul4"
            "sub5 sub6"
            "imgformula3 imgbetter"
            "ul5 ul6";

        grid-template-columns: 50% 50%;
        grid-template-rows: auto;

    }

    footer {
        display: flex;
        flex-direction: row;        
        justify-content: space-around; 
        align-items: center;
        padding: 15px;
        .parrafo-footer {
            font-size: 0.65rem;     
            max-width: 150px;   
        }

        .footer-redes {
            gap: 10px;            

            p {
                font-size: 0.8rem; 
            }

            .logo-redes {
                width: 25px;        
            }
        }
    }
}




