
$azul: #0C2C55;
$rojoy: #FF0000;
$verde: #1DB954;
$oscuro: #000000;
$bordo: #740A03;
$rojo: #C3110C;
$naranja: #E6501B;
$blanco: #FFFF;
$gris: #eeeeee;
$topo: #3c3c3c;

$font: "IBM Plex Sans", sans-serif; 

//Extend

.titulo-grid {
    color: $bordo;
    font-family: $font;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px; 

}
.sub-titulo-grid-uno, .sub-titulo-grid-dos, .sub-titulo-grid-tres, .sub-titulo-grid-cuatro, .sub-titulo-grid-cinco, .sub-titulo-grid-seis {
   @extend .titulo-grid;
   color: $topo

}
